{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <form action="/change_pw" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="current_pw" name="current_pw" placeholder="Current password" type="password">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="new_pw" name="new_pw" placeholder="New password" type="password">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="confirm_pw" name="confirm_pw" placeholder="Confirm password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}