{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table>
    <tr>
        <th>Time</th>
        <th>Symbol</th>
        <th>Price Bought</th>
        <th>Price Sold</th>
        <th>Shares bought / sold</th>
    </tr>
    {% for i in transactions: %}
    <tr>
        <td>{{i["date_time"]}}</td>
        <td>{{i["symbol"]}}</td>
        <td>{{i["price_bought"]}}</td>
        <td>{{i["price_sold"]}}</td>
        <td>{{i["no_of_shares"]}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}